<div class="container mt-4">
  <h2 class="mb-4">Gestion des Utilisateurs</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="mb-3">
      <label for="username" class="form-label">Nom d'utilisateur:</label>
      <input id="username" type="text" formControlName="username" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe:</label>
      <input id="password" type="text" formControlName="password" class="form-control">
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Rôle:</label>
      <select id="role" formControlName="role" class="form-select">
        <option value="">Sélectionnez un rôle</option>
        <option *ngFor="let role of availableRoles" [value]="role">
          {{ role | titlecase }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Permissions:</label>
      <div class="form-check" *ngFor="let permission of availablePermissions">
        <input class="form-check-input" type="checkbox" [value]="permission" [id]="permission"
               (change)="onPermissionChange($event, permission)"
               [checked]="isPermissionChecked(permission)">
        <label class="form-check-label" [for]="permission">
          {{ permission | titlecase }}
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary me-2" [disabled]="!userForm.valid">
      {{ editingUser ? 'Mettre à jour' : 'Ajouter' }} Utilisateur
    </button>
    <button *ngIf="editingUser" type="button" class="btn btn-secondary" (click)="cancelEdit()">Annuler</button>
  </form>

  <h3 class="mb-3">Liste des Utilisateurs</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nom d'utilisateur</th>
        <th>Mot de passe</th>
        <th>Rôle</th>
        <th>Permissions</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.role | titlecase }}</td>
        <td>{{ user.permissions.join(', ') }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-2" (click)="editUser(user)">Modifier</button>
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-success mt-3" (click)="saveUsers()">Sauvegarder les changements</button>
</div>
